html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: georgia;
}

.overlay-container{
           width: 100%;
           height: 100vh;
           background-color:rgb(15, 48, 48);
           opacity: 0.9;
           margin: 0;
           padding: 0;
           position: absolute;
           top: 0;
           bottom: 0;
}
.container-overlay-image{
          background-image: url(../images/54.jpg);
          width: 100%;
          height: 100vh;
          padding-top:3%;
          background-size: cover;
 
}

.login{
      margin-left:50%;
      width: 50%;
      height: 70%;
      margin-top:-17%;

}

.login-box{
         border:1px solid white;
         width:90%;
         height:80vh;
         margin-left:5%;
}

.overlay{
        background-color:black;
        width:100%;
        height: 80vh;
        opacity: .9;
}
/* 
.column-about{
    width: 40%;
    height:70%;
    background-color: white;
    margin-left:10%;
    margin-top:3%;    
} */
.access-account{
     margin-left:15%;
     padding-bottom:5%;
     color:rgb(31, 231, 231);
     font-size:16px;   
}
label{
    color:cyan;
}


.form-control{
             width: 80%;
             height: 5vh;
             border: none;
             border-bottom: 1px solid white;
             outline: none;
             background-color: transparent;
             color: white;
}
#login{
    color:white;
    text-decoration-line: none;
}

.button{
       width: 81%;
       height: 6vh;
       background-color:transparent;
       border: 1px solid teal;
       color: white;
       font-family: georgia;
       font-size:18px;
}

.button:hover{
    background: teal;
    transition: 1s ease;
}


#logo{
     margin-left:40%;
     width:25%;
     height:25%;
}

.about-store-manager{
    padding-top:4%;
    font-size: 15px;
    margin-left: 2%;
    color: white;
}

.header-divider{
          width:90%;
}

.copyright-image{
    width:25%;
    height:25%;
    margin-left:34%;
    margin-top: 3%;


}

.footer{
     width: 100%;
     height:auto;
     background-color: black;
     /* padding-top: 5%; */
}
